// Colors
$color-text: var(--color-text);
$color-background: var(--color-background);

// Fonts
$font-primary: var(--font-primary);
$font-headings: var(--font-headings);

// Sizes
$page-width: var(--page-width);
