html {
  background: var(--color-background);
}

body {
  color: var(--color-text);
  background: var(--color-background);

  margin: auto;
  max-width: var(--page-width);
  font-family: var(--font-primary);

  > header {
    text-align: center;
    padding: 20px;
  }

  > footer {
    text-align: center;
    padding: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings);
}

a {
  color: lightblue;

  &:hover {
    filter:brightness(150%);
  }
}

blockquote {
  border-left: 5px solid;
  padding-left: 10px;
  margin-left: 30px;
}
