html {
  background: $color-background;
}

body {
  color: $color-text;
  background: $color-background;

  margin: auto;
  padding: 2ch;
  max-width: $page-width;
  font-family: $font-primary;

  // Style main parts of page
  > header {
    text-align: center;
    padding: 20px;
  }

  > footer {
    text-align: center;
    padding: 20px;
  }

  > nav {
    display: flex;
    flex-flow: row wrap;
    text-align: center;

    > a {
      flex: 1 1 auto;
      border: 1px solid;
      padding: 5px;
      margin: 5px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
}

a {
  color: lightblue;
  text-decoration: none;

  &:hover {
    color: $color-text;
  }
}

blockquote {
  border-left: 5px solid;
  padding-left: 10px;
  margin-left: 30px;
}
