// Tailor, classless CSS from Vuwnu

// THEME
:root {
  // Colors
  --color-text: black;
  --color-background: white;

  // Fonts
  --font-primary: 'Arial';
  --font-headings: 'Arial';

  // Sizes
  --page-width: 60ch;
}

// Colors
$color-text: var(--color-text);
$color-background: var(--color-background);

// Fonts
$font-primary: var(--font-primary);
$font-headings: var(--font-headings);

// Sizes
$page-width: var(--page-width);


// ELEMENTS
@import "elements/form";
@import "elements/text";
@import "elements/embedded";
