// Tailor, classless CSS from Vuwnu

// THEME

// Colors
$color-text: #c9c9c9;
$color-background: #080808;

// Fonts
$font-primary: 'Arial';
$font-headings: 'Arial';

// Sizes
$page-width: 60ch;


// ELEMENTS
@import "elements/form";
@import "elements/text";
@import "elements/embedded";
